.videobackground
{

 
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.fill-window {
    height: 100%;
    position: absolute;
    left: 0;
    width: 100%;
    overflow: hidden;
}
.chatBox
{

    position: absolute;
    width: 454px;
    height: 634px;
    left: 1354px;
    top: 164px;  
    
    background: #EDEDED;
    border-radius: 20px;
}